body{
    padding: 0;
    margin: 0;
    font-family: "Forum", serif;
}

.hero{
    min-height: 90vh;
    background-color: #29000e;
    color: white;
    display: inline-block;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
}

.navbar .links a{
    color: white;
    text-decoration: none;
    margin-right: 16px;
    font-size: 1.2rem;
}

.navbar p{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.navbar .contact{
    background-color: white;
    color: #29000e;
    padding: 12px 24px;
    text-decoration: none;
}

.navbar .contact:hover{
    opacity: 0.8;
}

.hero-content{
    padding: 0 15%;
}

.tagline{
    font-size: 4rem;
    color: white;
    letter-spacing: 2px;
    padding: 32px 0;
}

.twocolsection{
    font-size: 2rem;
}

.twocolsection > p{
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.twocolsection .skills {
    width: 50%;
    box-sizing: border-box;
    float: left;
    list-style: none;
    padding: 0;
}

.twocolsection .skills li{
    width: 50%;
    /* box-sizing: border-box; */
    float: left;
    font-size: 1.25rem;
    margin: 8px 0;
}

.blog{
    background-color: white;
    padding: 64px 0;
}

.blog-content{
    padding: 0 15%;
}

.twocolsection .post{
    width: 50%;
    float: left;
}

.blog-title{
    font-size: 1.8rem;
}

.blog-text{
    font-size: 1rem;
}

.blog-date{
    font-size: 0.9rem;
    color: grey;
}

.twocolsection .post{
    margin: 8px 0;
}

.twocolsection .post .blog-date{
   margin-bottom: 32px;
}

.event{
    background-color: antiquewhite;
    padding: 32px 0;
    display: inline-block;
    width: 100%;
    margin-top: 32px;
}

.event-content{
    padding: 0 15%;
}

.event-card{
    width: 50%;
    float: left;
}

.event-card p{
    margin: 8px 0;
}

.event-title{
    font-size: 1.5rem;
}

.event-location{
    font-size: 1rem;
}

.event-card .event-date{
    font-size: 0.9rem;
    color: grey;
    margin-bottom: 32px;
}

footer{
    background-color: black;
    color: white;
    padding: 32px;
}

.footer-content{
    text-align: center;
}

footer img{
    width: 2rem;
    height: 2rem;
    margin: 0 8px;
}

